<div class="listing">
    <div class="listing__head">
        <!-- <h3 class="listing__title" *ngIf="!searchRes">Movies</h3> -->
        <h3 class="listing__title" *ngIf="searchRes">Search Movies</h3>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control searchdesign" placeholder="Search for movies..."
                            [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies(1)">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btnDesign" type="button"
                                (click)="searchMovies(1)">Go!</button>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group justify-content-end">
                        <button type="button" class="btn btn-success fs-5 p-3 mr-0" (click)="showAddGenreDialog()">Add
                            Genre</button>
                        <button type="button" class=" btn btn-primary fs-5 p-3"
                            [routerLink]="['/admin/downloadrequest']">Requests</button>
                        <button type="button" class=" btn btn-primary fs-5 p-3"
                            [routerLink]="['/admin/movies']">Movies</button>
                        <button type="button" class=" btn btn-primary fs-5 p-3"
                            [routerLink]="['/admin/tv']">TV Shows</button>

                    </div>
                </div>

            </div>
        </div>
    </form>
    <ng-container *ngIf="searchRes">
        <app-skeleton *ngIf="searchLoader"></app-skeleton>
        <div class="row" *ngIf="!searchLoader">
            <div class="col-md-2 col-6 listing__items"
                *ngFor="let movie of searchRes | slice:0:18 | sort :'release_date' :false">
                <div *ngIf="movie.media_type=='movie'">
                    <div class="listing-item-style">
                        <div class="overlay">
                            <div class="hover">
                                <button type="button" pButton class="p-button-danger"
                                    (click)="showAddMovieDialog(movie,movie?.media_type)" icon="pi pi-check" label="Add"></button>
                            </div>
                        </div>
                        <img *ngIf="movie?.poster_path"
                            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                            [alt]="movie.title ? movie.title : movie.name">
                        <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png"
                            [alt]="movie.title ? movie.title : movie.name">
                        <h6>{{ movie?.title }}{{movie?.name}}</h6>
                        <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                        <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}{{movie?.first_air_date | date
                                :'yyyy'}}</span>
                        </p>
                    </div>
                </div>
                <div *ngIf="movie.media_type=='tv'">
                    <div class="listing-item-style">
                        <div class="overlay">
                            <div class="hover">
                                <button type="button" pButton class="p-button-danger"
                                    (click)="showAddMovieDialog(movie,movie?.media_type)" icon="pi pi-check" label="Add"></button>
                            </div>
                        </div>
                        <img *ngIf="movie?.poster_path"
                            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                            [alt]="movie.title ? movie.title : movie.name">
                        <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png"
                            [alt]="movie.title ? movie.title : movie.name">
                        <h6>{{ movie?.title }}{{movie?.name}}</h6>
                        <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                        <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}{{movie?.first_air_date | date
                                :'yyyy'}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator [length]="totalSearchResults" [pageSize]="20" (page)="changeSearchPage($event)"></mat-paginator>
    </ng-container>
    <hr>
    <app-skeleton *ngIf="loader"></app-skeleton>
    <div class="row" *ngIf="!loader">
        <div class="col-md-2 col-6 listing__items"
            *ngFor="let movie of topRated | slice :0:18  | sort : 'release_date' : false">
            <div>
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover">
                            <!-- <i class="material-icons">download</i> Download -->
                            <button type="button" pButton class="p-button-danger" (click)="showAddMovieDialog(movie,'movie')"
                                icon="pi pi-check" label="Add"></button>
                        </div>
                    </div>
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                        [alt]="movie.title ? movie.title : movie.name">
                    <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png"
                        [alt]="movie.title ? movie.title : movie.name">
                    <h6>{{ movie?.title }}</h6>
                    <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                    <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <mat-paginator [length]="totalResults" [pageSize]="20" (page)="changePage($event)"></mat-paginator>

</div>
<p-dialog header="Genre" [maximizable]="true" [(visible)]="addGenreDisplay">
    <form (ngSubmit)="onGenreSubmit(selectedGenre)" #selectedGenre="ngForm" novalidate>
        <!-- Movies genre-->
        <div class="form-outline mb-4 mr-4">
            <label for="nameinput" class="form-label"><strong>Movie Genre</strong></label>
            <input type="text" pInputText [(ngModel)]="selectedGenre.name" id="nameinput" class="form-control"
                name="name" #movieGenre="ngModel" required="" />

        </div>
        <button type="submit" pButton label="Submit" [disabled]="selectedGenre.invalid"
            class="p-button-danger mr-4"></button>
        <button type="reset" pButton label="Reset"></button>
    </form>
</p-dialog>
<p-dialog header="Movie" [maximizable]="true" [(visible)]="addDownloadDisplay">
    <form (ngSubmit)="onDownloadSubmit(selectdDownload,movie.id)" #selectdDownload="ngForm" novalidate>
        <!-- Movies id -->
        <div class="form-outline mb-4 mr-4">
            <label for="priceinput" class="form-label"><strong>Movie ID</strong></label>
            <input type="number" pInputText value="{{movie?.id}}" name="movieID" ngModel id="priceinput"
                class="form-control" />

        </div>
        <!-- Movies name -->
        <div class="form-outline mb-4 mr-4">
            <label for="nameinput" class="form-label"><strong>Download Quality</strong></label>
            <input type="text" pInputText id="nameinput" class="form-control" name="name" ngModel required="" />

        </div>
        <!-- Movies language -->
        <div class="form-outline mb-4 mr-4">
            <label for="nameinput" class="form-label"><strong>Movie language</strong></label>
            <input type="text" pInputText id="languageinput" class="form-control" name="language" ngModel required="" />

        </div>
        <!-- Movies download link -->
        <div class="form-outline mb-4 mr-4">
            <label for="nameinput" class="form-label"><strong>Movie download link </strong></label>
            <input type="text" pInputText id="downloadLinkinput" class="form-control" ngModel name="download_link"
                required="" />

        </div>

        <button type="submit" pButton label="Submit" [disabled]="selectdDownload.invalid"
            class="p-button-danger mr-4"></button>
        <button type="reset" pButton label="Reset"></button>
    </form>
</p-dialog>
<p-dialog header="Movie" [maximizable]="true" [(visible)]="addMovieDisplay">
    <form (ngSubmit)="onMovieSubmit(selectedMovie.value)" #selectedMovie="ngForm" novalidate>

        <div class="inputboxes d-flex flex-wrap">

            <!--movie id   input -->
            <div class="form-outline mb-4 mr-4">
                <label for="priceinput" class="form-label"><strong>Movie ID</strong></label>
                <input type="number" pInputText value="{{movie?.id}}" id="priceinput" class="form-control"
                    [ngModel]="moviesID.value" required="" name="moviesID" #moviesID />
            </div>
            <!-- Movie Title  input -->
            <div class="form-outline mb-4 mr-4">
                <label for="nameinput" class="form-label"><strong>Movie Title</strong></label>
                <input type="text" pInputText value="{{movie?.title}}{{movie?.name}}" id="nameinput"
                    class="form-control" name="original_title" [ngModel]="original_title.value" #original_title
                    required="" />

            </div>
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">poster_path</label>
                <input type="text" id="productimg" pInputText value="{{movie?.poster_path}}" class="form-control"
                    [ngModel]="poster_path.value" name="poster_path" #poster_path required="" />

            </div>
            <!-- movie original_language   input -->
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">original_language</label>
                <input type="text" id="productimg" pInputText value="{{movie?.original_language}}" class="form-control"
                    [ngModel]="original_language.value" #original_language name="original_language" required="" />

            </div>
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">Media Type</label>
                <input type="text" id="productimg" pInputText value="{{movie?.media_type}}" class="form-control"
                    [ngModel]="media_type.value" #media_type name="media_type" required="" />

            </div>

            <!-- movie release_date  input -->
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">release_date</label>
                <input type="date" id="productimg" pInputText value="{{movie?.release_date}}{{movie?.first_air_date}}"
                    class="form-control" [ngModel]="release_date.value" #release_date name="release_date" required="" />

            </div>
            <!-- movie vote_average   input -->
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">vote_average</label>
                <input type="number" id="productimg" pInputText value="{{movie?.vote_average}}" class="form-control"
                    [ngModel]="vote_average.value" #vote_average name="vote_average" required="" />
            </div>
            <!-- movie popularity -->
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">popularity</label>
                <input type="number" id="productimg" pInputText value="{{movie?.popularity}}" class="form-control"
                    [ngModel]="popularity.value" #popularity name="popularity" required="" />
            </div>
            <!-- movie vote_count  input -->
            <div class="form-outline mb-4 mr-4">
                <label for="productimg" class="form-label">vote_count</label>
                <input type="number" id="productimg" pInputText value="{{movie?.vote_count}}" class="form-control"
                    [ngModel]="vote_count.value" #vote_count name="vote_count" required="" />

            </div>
            <!-- movie overview -->
            <div class="form-outline mb-4 w-100">
                <label for="descinput" class="form-label"><strong>Movie overview </strong></label>
                <textarea type="text" [autoResize]="true" pInputTextarea value="{{movie?.overview}}" id="descinput"
                    class="form-control" [ngModel]="overview.value" #overview name="overview" required=""></textarea>

            </div>
        </div>
        <!-- modal footer -->
        <div class="modal-footer">

            <p-button icon="pi pi-times" (click)="addMovieDisplay=false" label="Close"
                styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" label="Reset" type="reset"></p-button>
            <p-button icon="pi pi-check" class="" [disabled]="selectedMovie.invalid" type="submit"
                label="Add"></p-button>
            <p-toast></p-toast>

        </div>
    </form>
</p-dialog>
<p-toast></p-toast>

<p-progressSpinner [style]="{width: '50px', height: '50px'}" *ngIf="spinnerActive"></p-progressSpinner>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>