ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: #28df93;
    --scrollbar-thumb-hover-color: rgb(231, 46, 46);
    --scrollbar-border-radius: 4px;
    border: 1px solid gray;
  }