.loading {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
  }
  
  .loading .mat-spinner {
    color: white;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mat-progress-bar{
    position: fixed;
    z-index: 2000;
    height: 0.5rem;

  }

