@import '../../../assets/scss/variables';

.genre-card {
  display: inline-block;
  margin: 14px 10px;
  padding: 12px 0px;
  vertical-align: top;
  color: white !important;
  font-size: 2rem;
  padding: 1rem;
}
.logo{
    width: 5rem;
    margin: 0rem 1rem;
    margin-bottom: .5rem;
    border: 0;
    padding: 0;
    border-radius: 10px;
    img{
        border: 3px solid #ffffffb0;
        border-radius: 8px;

    }
    &:hover,&:active{
        border: 3px solid #ff1111c2;
        box-shadow: 1px 5px 9px 0px #ff0a0a;
        border-radius: 10px;
    }
    @media (max-width: $breakpoint-xsmall){
      margin: 0.4rem .4rem;
    }
}
.mt_{
  margin: 10rem 5rem 10rem;
}


@media (min-width: $breakpoint-large) {
  .genre-card {
    width: 20%;
  }
}

.blue-theme {
  background-color: $secondary-color;
  border-radius: 1px;
}
mat-paginator{
  background: #212121;
}

mat-paginator{
  color: #fff;
}


.btnDesign{
  height: 44px;
  border-radius: 0;
  width: 55px;
  background: #dc4666;
  border: #dc4666;
}