:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.ui-inputtext{
    width: -webkit-fill-available;

}
td{
    overflow-wrap: normal;
}
.ui-paginator-icon{
color: #000000a4  !important;
}
.pi{
    color: black;
}